.content-block
	h2.title-section Описание
	h4.title-small Самокат для большого роста
	p.product-text Яркий спортивный самокат немецкого производителя Puky R 07 L создан для веселой и быстрой езды. Заказать его в интернет-магазине Baby-Toys можно прямо сейчас. Мы осуществляем бесплатную доставку по столице и отправляем товары в регионы. Подробнее об условиях покупки и способах оплаты можно узнать у консультантов.
	p.product-text Самокат R 07 L учитывает все особенности ребенка в возрасте от 5 до 12 лет. Крупные надувные колеса позволяют достичь большой скорости. Прогулка превращается в захватывающее приключение! Это не просто увлечение, но и полезное занятие, развивающее силу, улучшающее координацию движений и моторные функции.
	h4.title-small Описание самоката R 07 L
	ul.product-list
		each product in ['Крупные надувные колеса диаметром 12,5 дюймов, обеспечивающие высокую проходимость.', 'Плавное управление благодаря качественным подшипникам.', 'Надежный ручной тормоз заднего колеса.', 'Удобные ручки.', 'Регулировка руля по высоте (от 78 до 90&nbsp;см): самокат «растет» вместе с ребенком.', 'Складная подножка для удобной парковки.', 'Широкая подставка для ног из сверхпрочного пластика с противоскользящим покрытием.', 'Громкий звонок на руле.', 'Металлические части изделия имеют современное хромовое антикоррозийное покрытие.', 'Два варианта расцветки: зеленый и черный', 'Рекомендуемый возраст – от 5 до 12 лет (модель выдерживает до 50 кг).']
			li.product-list__item=product
	h4.title-small Как заказать самокат R 07 L?
	p.product-text Интернет-магазин Baby-Toys предоставляет возможность дистанционной покупки. Чтобы оформить заявку, достаточно выбрать расцветку транспортного средства и поместить его в «корзину». Затем оставьте свои контакты и выберите подходящий способ оплаты. Если возникнут вопросы, обращайтесь к консультантам.
