mixin productTableRow(label, value)
	tr.product-table__row
		td.product-table__cell=label
		td.product-table__cell=value
.content-block
	h2.title-section
	.product-table__wrapper
		span.product-table__title Основное
		table.product-table
			tbody
				+productTableRow('Пол', 'для девочек и мальчиков')
				+productTableRow('Модель', 'Самокат Puky R 07 L AIR (с надувными колесами)')
				+productTableRow('Бренд', 'Puky')
				+productTableRow('Возраст', 'от 5 лет')
				+productTableRow('Макc. выдерживаемый вес, кг', '100')
				+productTableRow('Вес', '6,2')
				+productTableRow('Страна', 'Германия')
				+productTableRow('Гарантия', '2 года')
				+productTableRow('Габариты (Д х Ш х В), см', '116 х 18 х 78-90')
	.product-table__wrapper
		span.product-table__title Технические данные
		table.product-table
			tbody
				+productTableRow('Тип колес', 'с надувными колесами')
				+productTableRow('Диаметр колес', '317')
				+productTableRow('Складной механизм', 'нет')
				+productTableRow('Платформа для ноги, см', '36х12')
				+productTableRow('Мин. высота руля, см', '78')
				+productTableRow('Макс. высота руля, см', '90')
				+productTableRow('Материал', 'сталь')
				+productTableRow('Опции', 'с длинной декой')
				+productTableRow('Материал ручек', 'резина, комфортные')
				+productTableRow('Тип руля', 'с регулируемой высотой руля')
				+productTableRow('Тип тормоза	', 'ручной тормоз')
				+productTableRow('Материал колес', 'Надувные резиновые')
