.header__top
		.container
			.header__content
				nav.header__nav.header-nav
					ul.header-nav__list
						+headerNavLink('1', 'О компании')
						+headerNavLink('1', 'Доставка и оплата')
						+headerNavLink('1', 'Акции')
						+headerNavLink('1', 'Оптовикам')
						+headerNavLink('1', 'Новости')
						+headerNavLink('1', 'Гарантии')
						+headerNavLink('1', 'Контакты')
				nav.header__nav.header-nav.header__nav--right
					ul.header-nav__list
						+headerNavLink('1', 'Регистрация')
						+headerNavLink('1', 'Вход')
