
.products-border-line-slider {
	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
		.title-section {
			margin-bottom: 0;
		}
	}
	&__body {
		margin: 0 -1rem;
	}
	&__navigation {
		display: flex;
		margin-left: auto;;
	}
	.product-prev {
		margin: 0 1.5rem;
		&:hover {
			box-shadow: none;
		}
	}
	&__btn {
		display: flex;
	align-items: center;
		justify-content: center;
		@include size(4rem);
		border: 1px solid $alto;
		&.products-border-line-slider__btn {
			&--prev {
				border-radius: 2px 0 0 2px;
				border-right: 0;
			}
			&--next {
				border-radius: 0 2px 2px 0;
			}
		}
	}
	&__icon {
		@include size(1.5rem);
		fill: $blaze-orange;
	}
}
