.product-details {
	&-navigation {
		display: flex;
		align-items: center;
		background-color: $white;
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.05);
		padding: 10px 15px;
		margin: 1rem 1.5rem 2rem;
		&__item {
			display: flex;
			align-items: center;
			padding: 0 2rem;
			height: 3rem;
			line-height: 30px;
			border-right: 1px solid $alto;
			font-size: 1.6rem;
			font-weight: 600;
			color: $tundora;
			&:last-child {
				border-right: 0;
			}
			&:hover {
				color: $blaze-orange;
				transition: all linear .3s;
			}
			& > * {
				margin-right: 1.5rem;
				&:last-child{margin-right: 0;}
			}
			a {
				color: $tundora;
			}
			&.tabs-navigation__item--active {
				color: $blaze-orange;
				a {
					color: $blaze-orange;
				}
			}
		}
	}
	&__body {
		border: 1px solid $athens-gray;
		border-radius: 2px;
		padding: 2rem;
	}
}

.product-table {
	width: 100%;
	border-collapse: collapse;
	&__title {
		color: $blaze-orange;
		display: block;
		font-size: 1.6rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}
	&__row {
		&:nth-child(odd) {
			background-color: $athens-gray;
		}
	}
	&__cell {
		width: 50%;
		height: 4rem;
		padding: 1rem 2rem;
	}
}
