@import 'prev';
@import 'line-slider';
@import 'border-line-slider';
@import 'main-slider';
@import 'details';
@import 'review';

.product {
	color: $tundora;
	&__text {
		font-size: 1.3rem;
	}
	&__header {
		display: flex;
		margin-bottom: 5rem;
		@media screen and (max-width: $phone-size) {
			flex-direction: column;
			margin-bottom: 2rem;
			}
		& > * {
			flex: 0 0 calc(50% - 1.5rem);
			@media screen and (max-width: $phone-size) {
				flex: 0 0 100%;
				width: 100%;
			}

			&:last-child,
			&:first-child {
				@media screen and (max-width: $tablet-size) {
					flex: 0 0 100%;
					width: 100%;
				}
			}
		}
		@media screen and (max-width: $tablet-size) {
			flex-wrap: wrap;
			}
	}
	&-info {
		margin-left: 1.5rem;
		@media screen and (max-width: $tablet-size) {
			margin-left: 0;
		}
		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 2rem;
			.title-page {
				margin-bottom: 0;
			}
		}
		&__body {
			margin-bottom: 5rem;
			@media screen and (max-width: $phone-size) {
				margin-bottom: 0;
			}
			& > * {
				margin: 3rem 0;
				&:first-child {margin-top: 0;}
				&:last-child {margin-bottom: 0;}
			}
		}
		&__footer {
			@media screen and (max-width: $phone-size) {
				display: none;
			}
		}
		&__logo {
			height: 5rem;
			@media screen and (max-width: $phone-size) {
				display: none;
			}
		}
		&__row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media screen and (max-width: $tablet-size) {
				flex-wrap: wrap;
				}
		}
		&__link {
			display: inline-block;
			font-size: 1.3em;
			border-bottom: 1px dotted $alto;
			color: $tundora;
		}
		&-advantages {
			display: flex;
			& > * {
				flex: 1;
				margin-right: 1.5rem;
				&:last-child{margin-right: 0;}
			}
		}
		&-advantage {
			&__header {
				display: flex;
				align-items: center;
				margin-bottom: 1.5rem;
				& > * {
					margin-right: 1rem;
					&:last-child{margin-right: 0;}
				}
			}
			&__icon {
				@include size (3.5rem);
				fill: $tundora;
			}
			&__title {
				font-size: 1.6em;
				font-weight: 700;
			}
		}
	}
	&-rating {
		display: flex;
		align-items: center;
		& > * {
			margin-right: 1rem;
			&:last-child{
				margin-right: 0;
			}
		}
		&__stars {
			& > * {
				margin-right: 0.5rem;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		&__icon {
			@include size(1.5rem);
			fill: $alto;
			&.product-rating__icon--active {
				fill: $blaze-orange;
			}
		}
	}
	&-color {
		display: flex;
		align-items: center;
		& > * {
			margin-right: 1rem;
			&:last-child{margin-right: 0;}
		}
	}
	&-available {
		display: flex;
		align-items: center;
		@media screen and (max-width: $tablet-size) {
			display: none;
		}
		& > * {
			margin-right: 1rem;
			&:last-child{margin-right: 0;}
		}
		&-view {
			display: flex;
			align-items: center;
			overflow: hidden;
			border-radius: 2px;
			& > * {
				margin-right: 0.2rem;
				&:last-child {margin-right: 0;}
			}
			&__item {
				background-color: $vida-loca;
				height: 1.6rem;
				width: 0.8rem;
			}
		}
	}
	&-price {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		&__old {
			margin-bottom: 1rem;
			font-size: 1.3rem;
			color: $oslo-gray;
			text-decoration: line-through;
		}
		&__current {
			margin-bottom: 2rem;
			font-size: 3rem;
			font-weight: 700;
		}
	}
	&-actions {
		display: flex;
		align-items: center;
		@media screen and (max-width: $tablet-size) {
			flex-direction: column;
		}
		@media screen and (max-width: $tablet-size) {
			flex-direction: row;
			flex: 0 0 100%;
			width: 100%;
			}
		& > * {
			margin-right: 2rem;
			@media screen and (max-width: $tablet-size) {
				margin-right: 0;
				margin-bottom: 2rem;
			}
			@media screen and (max-width: $tablet-size) {
				margin-right: 2rem;
				margin-bottom: 0;
				margin-top: 3rem;
				}
			&:last-child{
				margin-right: 0;
				@media screen and (max-width: $tablet-size) {
					margin-bottom: 0;
				}
			}
		}
	}
	&-list {
		&.product-list--advantage {
			.product-list {
				&__item {
					padding-left: 1.5rem;
					&:before {
						background-color: $blaze-orange;
						left: 0;
					}
				}
			}
		}
		&__item {
			font-size: 1.3rem;
			padding-left: 5rem;
			position: relative;
			line-height: 1.54;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 8px;
				left: 10px;
				border-radius: 50%;
				background-color: $main-shaft;
				@include size(0.4rem);
			}
		}
	}
}
