
.title {
	&-page {
		color: $tundora;
		font-size: 2.4rem;
		margin-bottom: 3rem;
		font-weight: 700;
	}
	&-section {
		margin-bottom: 2rem;
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 1.67;
	}
	&-title-block {
		font-size: 2rem;
		line-height: 1.5;
		font-weight: 600;
		margin-bottom: 2rem;
	}

}
