.hits {
	&-navigation {
		display: inline-flex;
		align-items: center;
		width: 100%;
		padding: 0 1.5rem;
		&__item {
			flex: 1;
			margin-right: 3rem;
			border-bottom: 2px solid $alto;
			min-width: 15rem;
			line-height: 4.8rem;
			height: 5rem;
			text-align: center;
			&:last-child {margin-right: 0;}
			&:hover {
				border-bottom: $blaze-orange;
			}
			&.tabs-navigation__item--active {
				border-bottom-color: $blaze-orange;
			}
		}
	}
	&__body {
		padding-top: 2rem;
	}
}
