extends template/main

block variables
	- var title = 'Страница категории'
	- var pageClass = 'category-page'

block content
	.breadcrumbs
		.container
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href="./index.html").breadcrumbs__link Главная
				li.breadcrumbs__item
					span.breadcrumbs__link Бренды
				li.breadcrumbs__item
					span.breadcrumbs__current Puky

	include pages/category/slider
	.category
		.container
			.category__header
				h1.title-page Беговелы
				.filter-mobile__toggle
					span Фильтры
					+icon('chevron-right','filter-mobile__toggle-icon')
				.category__sort
					.select
						.select__header.select__header--multi
							span.select__description Сортировать
							span.select__current  по популярности
							+icon('chevron-down', 'select__icon')
						.select__body
							ul.select-list__item по цене
							ul.select-list__item по рейтингу
			.category__body
				aside.filter.category__filter
					.filter-mobile__close
						+icon('chevron-left','filter-mobile__close-icon')
					include pages/category/filter

				main.category-main
					section.s-category-main
						.products-prev__wrapper.products-prev__wrapper--small
							include modules/products/prev-1
							include modules/products/prev-2
							include modules/products/prev-1
							include modules/products/prev-1
							include modules/products/prev-2
							include modules/products/prev-1
							include modules/products/prev-1

						.pagination__wrapper
							.pagination
								a(href="").pagination__btn
									+icon('chevron-left','pagination__icon')
								ul.pagination__list
									each i in [1,2,3,4,5]
										if (i===1)
											li.pagination__item.pagination__item--active
												a(href="").pagination__link=i
										else
											li.pagination__item
												a(href="").pagination__link=i
								a(href="").pagination__btn
									+icon('chevron-right','pagination__icon')
							.pagination__count
								span.pagination__text Выводить по:
								.select
									.select__header
										span.select__current 12
										+icon('chevron-down', 'select__icon')
									.select__body
										ul.select-list__item 24
										ul.select-list__item 36
					include pages/category/content
