extends template/main

block variables
	- var title = 'Страница Продукта'
	- var pageClass = 'product-page'

block content
	.breadcrumbs
		.container
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href="index.html").breadcrumbs__link Главная
				li.breadcrumbs__item
					span.breadcrumbs__link Каталог
				li.breadcrumbs__item
					span.breadcrumbs__link Беговелы
				li.breadcrumbs__item
					span.breadcrumbs__link Беговелы Puky
				li.breadcrumbs__item
					span.breadcrumbs__current Puky

	section.s-product
		.container
			.product
				.product__header
					include pages/product/slider
					include pages/product/info
				.product__body
					include pages/product/details






	include pages/index/advantages
	include pages/product/goods
	include pages/category/content
