
section.sinformation.s-light-bg
	.container
		.information
			.information-item
				.information-item__header
					h2.title-section Новости
				.information-item__body
					.news-prev__wrapper
						a(href="").news-prev
							.news-prev__img(style="background-image: url('static/images/content/news-prev/news-prev-1.jpg')")
							.news-prev__body
								span.news-prev__title Беговелогонка 1 + Puky
								span.news-prev__date 12 июня 2019
						a(href="").news-prev
							.news-prev__img(style="background-image: url('static/images/content/news-prev/news-prev-2.jpg')")
							.news-prev__body
								span.news-prev__title Новинка Puky Moto
								span.news-prev__date 22 июля 2019
				.information-item__footer
					a(href="").information-item__link Все новости
			.information-item
				.information-item__header
					h2.title-section Отзывы
				.information-item__body
					.review-prev
						p.review-prev__text Купил у вас в середине лета велосипеды для себя, жены и дочери. Понравился ваш выбор и цены. Мне все велосипеды обошлись не очень дорого. Катаемся на них постоянно, ни один пока что не поломался. И доставка у вас очень быстрая, приятно.
						span.review-prev__author Павел
				.information-item__footer
					a(href="").information-item__link Все отзывы

			.information-item.information-item--wide
				.information-item__header
					h2.title-section Бренды
				.information-item__body
					.brands__wrapper
						.mobile-scroll-wrapper
							ul.brands__list.brands__list--small
								each brand in [{img: 'puky', name: 'PUKY'},{img: 'globber', name: 'Globber'},{img: 'hudora', name: 'Hudora'},{img: 'kokua', name: 'Kokua'},{img: 'micro', name: 'Micro'},{img: 'Stiga', name: 'Stiga'}]
									li.brands__item
										a(href="").brand
											img(src=`static/images/content/brands/${brand.img}.jpg`).brand__img
											span.brand__name= brand.name
				.information-item__footer
					a(href="").information-item__link Все бренды
					span.information-item__count (9)
