
.main-nav__dropdown-wrapper
	.main-nav__dropdown
		ul.main-subnav__list
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Взрослые самокаты
					+icon('chevron-right','main-subnav__icon')
				ul.main-subnav__list
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двуколсеные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Трехколесные двуколсеные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с надувными колесами
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Детские самокаты
					+icon('chevron-right','main-subnav__icon')
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Городские самокаты
					+icon('chevron-right','main-subnav__icon')
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Складные самокаты
					+icon('chevron-right','main-subnav__icon')
