.brands {
	border-top: 1px solid $alto;
	padding-top: 3rem;
	margin-bottom: -4.5rem;
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		& > * {
			flex: 0 0 16%;
			width: 16%;
			margin-bottom: 4.5rem;
			@media screen and (max-width: $tablet-size) {
				flex: 0 0 25%;
				width: 25%;
			}
			@media screen and (max-width: $tablet-size) {
				flex: 0 0 50%;
				width: 50%;
			}
		}
		&-small {
			display: flex;
			flex-wrap: wrap;
			@media screen and (max-width: $tablet-size) {
				flex-wrap: nowrap;
			}
			& > * {
				margin-right: 1rem;
				margin-bottom: 1rem;
				&:nth-child(3n + 3) {
					margin-right: 0;
					@media screen and (max-width: $tablet-size) {
						margin-right: 1rem;
					}
				}
			}
		}
	}
}

.brand {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $main-shaft;
	&__img {
		margin-bottom: 0.5rem;
		max-height: 8rem;
		max-width: 11rem;
		&:hover {
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
			transition: all linear .3s;
		}
	}
	&-info {
		display: flex;
		align-items: flex-start;
		@media screen and (max-width: $phone-size) {
			flex-direction: column;
		}
		& > * {
			margin-right: 3rem;
			@media screen and (max-width: $phone-size) {
				margin-bottom: 3rem;
				margin-right: 0;
			}
			&:last-child{
				margin-right: 0;
				@media screen and (max-width: $phone-size) {
					margin-bottom: 0;
				}
			}
		}
		&__tablet {
			flex: 0 0 25.5rem;
			width: 25.5rem;
			@media screen and (max-width: $phone-size) {
				flex: 1;
				width: 100%;
			}
			& > * {
				margin: 2rem 0;
				&:last-child {margin-top: 0;}
				&:first-child {margin-bottom: 0;}
			}
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4rem;
		border: 1px solid $alto;
		border-radius: 2px;
		.brand__img {
			height: auto;
			width: auto;
			max-width: 100%;
			&:hover {
				box-shadow: none;
			}
		}
	}
	&__description {
		flex: 1;
		& > * {
			margin: 2rem 0;
			&:first-child{margin-top: 0;}
			&:last-child{margin-bottom: 0;}
		}
	}
	&__sertificates {
		flex: 0 0 25.5rem;
		width: 25.5rem;
		@media screen and (max-width: $phone-size) {
			flex: 1;
			width: 100%;
		}
		&-label {
			display: block;
			font-weight: 700;
			line-height: 1.79;
			margin-bottom: 1.5rem;
		}
	}
	&__sertificate {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $alto;
		border-radius: 2px;
		padding: 2rem;
	}

}
