@import "news";
@import "review";
@import "brands";

.information {
	display: flex;
	@media screen and (max-width: $tablet-size) {
		flex-wrap: wrap;
	}
	@media screen and (max-width: $phone-size) {
		flex-direction: column;
	}
	& > * {
		flex: 1;
		padding-right: 3rem;
		@media screen and (max-width: $tablet-size) {
			flex: 0 0 50%;
			width: 50%;
		}
		@media screen and (max-width: $phone-size) {
			flex: 1;
			width: 100%;
		}
		&:last-child {
			padding-right: 0;
		}
	}

	&-item {
		@media screen and (max-width: $phone-size) {
			margin-top: 4rem;
		}
		&:first-child {
			@media screen and (max-width: $phone-size) {
				margin-top: 0;
			}
		}

		&__body {
			height: 25rem;
			@media screen and (max-width: $phone-size) {
				height: auto;
				margin-bottom: 2rem;
			}
		}
		&__footer {
			display: flex;
			& > * {
				margin-right: 0.5rem;
				&:last-child{margin-right: 0;}
			}
		}
		&__link {
			display: inline-block;
			border-bottom: 1px solid rgba(38,38,38,0.15);
			color: $main-shaft;
		}
		&__count {
			color: $chelsea-cucumber;
		}
		&.information-item--wide {
			@media screen and (max-width: $tablet-size) {
				flex: 1;
				width: 100%;
				margin-top: 4rem;
			}
			.information-item {
				&__body {
					height: 15rem;
					@media screen and (max-width: $phone-size) {
						height: auto;
						margin-bottom: 2rem;
					}
				}
			}
		}
	}
}
