
.news-prev {
	display: flex;
	align-items: flex-start;
	color: $main-shaft;
	margin-bottom: 4rem;
	&:last-child {margin-bottom: 0;}
	&__img {
		flex-shrink: 0;
		@include size(8rem);
		background-size: cover;
		border-radius: 0.4rem;
		margin-right: 2rem;
	}
	&__title {
		display: block;
		margin-bottom: 1rem;
	}
	&
	&__date {
		color: $oslo-gray;
		font-size: 1.2rem;
	}
}
