
.content-block {
	@media screen and (max-width: $phone-size){
		font-size: 1.2rem;
	}
	& > * {
		margin: 2rem 0;
		&:first-child{margin-top: 0;}
		&:last-child{margin-bottom: 0;}
	}
	&__row {
		display: flex;
		@media screen and (max-width: $phone-size){
			flex-direction: column;
		}
		& > * {
			margin-right: 3rem;
			@media screen and (max-width: $phone-size){
				margin-right: 0;
				margin-bottom: 2rem;
			}
			&:last-child{
				margin-right: 0;
				@media screen and (max-width: $phone-size){
					margin-bottom: 0;
				}
			}
		}
	}
	&__col {
		flex: 1;
	}
	&__img {
		max-width: 100%;
	}
	ul {
		margin: 0;
		padding: 0;
		&.no-dots {
			li {
				padding-left: 0;
				&:before {
					display: none;
				}
			}
		}
	}
	li {
		margin: 0;
		padding: 0;
		line-height: 1.79;
		color: $tundora;
		padding-left: 3.5em;
		position: relative;
		&:before {
			content: '';
			@include size (0.4rem);
			background-color: $tundora;
			position: absolute;
			left: 10px;
			top: 10px;
			border-radius: 50%;
		}
	}
}

.s-static-page {
	& + .s-advantages {
		padding-top: 0;
	}
}
