.select {
	position: relative;
	&.select--open {
		.select {
			&__body {
				display: block;
			}
			&__icon {
				transform: rotate(180deg);
				transition: all linear .3s;
			}
		}
	}
	&__header {
		display: flex;
		align-items: center;
		padding: 0 1.5rem;
		height: 4rem;
		font-size: 1.2rem;
		border-radius: 2px;
		border: 1px solid $alto;
		& > * {
			margin-right: 1rem;
			&:last-child{margin-right: 0;}
		}
		&.select__header--multi {
			.select {
				&__current {
					font-weight: 700;
				}
				&__description {
					@media screen and (max-width: $phone-size) {
						display: none;
					}
				}
			}
		}
	}
	&__body {
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		min-width: 100%;
		width: auto;
		border: 1px solid $alto;
		border-radius: 0 0 2px;
		background-color: $white;
		z-index: 1;
	}
	&-list {
		&__item {
			height: 4rem;
			padding: 0 1rem;
			line-height: 40px;
			cursor: pointer;
			&:hover {
				background-color: $athens-gray;
			}
		}
	}
	&__icon {
		@include size (1.5rem);
		fill: $blaze-orange;
		margin-left: auto;

	}
}
