.logo {
	&__img {
		height: 2.2rem;
	}
}
.advantages {
	display: flex;
	align-items: center;
	border-radius: 0.4rem;
	background-color: $parcelain;
	padding: 2rem;
	@media screen and (max-width: $tablet-size) {
		justify-content: space-between;
		padding: 2rem 4rem;
	}
}
.advantage {
	display: flex;
	align-items: center;
	margin-right: 18rem;
	@media screen and (max-width: $tablet-size) {
		flex-direction: column;
		text-align: center;
		margin-right: 0;
	}
	:last-child {
		margin-right: 0;
	}
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-size: 1.8rem;
		line-height: 1.3;
		margin-bottom: 0.5rem;
	}
	&__icon {
		@include size(5rem);
		fill: $dusty-gray;
		margin-right: 2rem;
		@media screen and (max-width: $tablet-size) {
			margin-bottom: 1rem;
			margin-right: 0;
		}
	}
	&__descr {
		font-size: 1.2rem;
		color: $mid-gray;
	}
	}
.s-light-bg {
	background-color: $parcelain;
}
.text {
	line-height: 1.79;
	margin-bottom: 1rem;
}
.about {
	display: flex;
	& > * {
		margin-right: 3rem;
		&:last-child{margin-right: 0;}
	}
	&__body {
		flex:1;
		.tab {
			& > * {
				margin: 1.5rem 0;
				&:first-child{margin-top: 0;}
				&:last-child{margin-bottom: 0;}
			}
		}
	}
	&-navigation {
		flex: 0 0 25.5rem;
		width: 25.5rem;
		&__item {
			border-bottom: 2px solid $alto;
			line-height: 4.8rem;
			height: 5rem;
			padding-left: 1rem;
			:last-child {margin-right: 0;}
			&.tabs-navigation__item--active {
				border-bottom-color: $blaze-orange;
			}
		}
	}
}

.sandwich {
	cursor: pointer;
	height: 1.6rem;
	position: relative;
	width: 2rem;
	&--active {
		.sandwich__line {
			&--top {
				top: 8px;
				transform: rotate(45deg);
			}
			&--middle { opacity: 0; }
			&--bottom {
				top: 8px;
				transform: rotate(-45deg);
			}
		}
	}
	&__line {
		background-color: $white;
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		transition: all linear .4s;
		width: 100%;
		&--top { top: 0; }
		&--middle { top: 7px; }
		&--bottom { top: 14px; }
	}
}
