.logo {
	&__img {
		height: 2.2rem;
		@media screen and (max-width: $phone-size) {
			height: 1.6rem;
		}
	}
}
.mobile {
	&__logo {
		display: none;
	}
}
.advantages {
	display: flex;
	align-items: center;
	border-radius: 0.4rem;
	background-color: $parcelain;
	padding: 2rem;
	@media screen and (max-width: $tablet-size) {
		justify-content: space-between;
		padding: 2rem 4rem;
	}
	@media screen and (max-width: $phone-size) {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 2rem;
	}
}
.advantage {
	display: flex;
	align-items: center;
	margin-right: 18rem;
	@media screen and (max-width: $tablet-size) {
		flex-direction: column;
		text-align: center;
		margin-right: 0;
	}
	@media screen and (max-width: $phone-size) {
		text-align-last: left;
		flex-direction: row;
		margin-bottom: 1rem;
		&:last-child{margin-bottom: 0;}
	}
	:last-child {
		margin-right: 0;
	}
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-size: 1.8rem;
		line-height: 1.3;
		margin-bottom: 0.5rem;
	}
	&__icon {
		@include size(5rem);
		fill: $dusty-gray;
		margin-right: 2rem;
		@media screen and (max-width: $tablet-size) {
			margin-bottom: 1rem;
			margin-right: 0;
		}
		@media screen and (max-width: $phone-size) {
			margin-right: 2rem;
			margin-bottom: 0;
		}
	}
	&__descr {
		font-size: 1.2rem;
		color: $mid-gray;
	}
	}
.s-light-bg {
	background-color: $parcelain;
}
.text {
	line-height: 1.79;
	margin-bottom: 1rem;
}
.about {
	display: flex;
	@media screen and (max-width: $tablet-size) {
		flex-direction: column;
	}
	& > * {
		margin-right: 3rem;
		&:last-child{margin-right: 0;}
	}
	&__body {
		flex: 1;
		@media screen and (max-width: $tablet-size) {
			order: 2;
		}
		.tab {
			& > * {
				margin: 1.5rem 0;
				&:first-child{margin-top: 0;}
				&:last-child{margin-bottom: 0;}
			}
		}
	}
	&-navigation {
		flex: 0 0 25.5rem;
		width: 25.5rem;
		@media screen and (max-width: $tablet-size) {
			display: flex;
			flex: 1;
			width: 100%;
			order: 1;
			margin-bottom: 3rem;
		}
		@media screen and (max-width: $phone-size) {
			overflow: auto;
		}
		&__item {
			border-bottom: 2px solid $alto;
			line-height: 4.8rem;
			height: 5rem;
			padding-left: 1rem;
			@media screen and (max-width: $tablet-size) {
				flex: 1;
				width: 100%;
				padding-left: 0;
				margin-right: 3rem;
			}
			:last-child {
				@media screen and (max-width: $tablet-size) {
					margin-right: 0;
				}
			}
			&.tabs-navigation__item--active {
				border-bottom-color: $blaze-orange;
			}
		}
	}
}

.sandwich {
	cursor: pointer;
	height: 1.6rem;
	position: relative;
	width: 2rem;
	&__line {
		background-color: $white;
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		transition: all linear .4s;
		width: 100%;
		&--top { top: 0; }
		&--middle { top: 7px; }
		&--bottom { top: 14px; }
	}
}

.mobile-scroll {
	&-wrapper {
		margin: 0 -1.5rem !important;
		overflow: auto;
	}
	&-inner {
		display: inline-block;
		padding: 0 1.5rem;
	}
}
