.btn {
	display: block;
	height: 4rem;
	padding: 0 2rem;
	width: 100%;
	text-align: center;
	color: $blaze-orange;
	border: 1px solid $blaze-orange;
	background-color: $white;
	border-radius: 2px;
	line-height: 3.8rem;
	font-weight: 600;
	transition: all linear .3s;
	cursor: pointer;
	&:hover {
		background-color: $blaze-orange;
		color: #ffffff;
	}
	&.btn {
		&--transparent {
			&-white {
				background-color: transparent;
				color: $white;
				border-color: white;
				&:hover {
					background-color: #fff;
					color: $tundora;
				}
			}
			&-gray {
				background-color: transparent;
				border-color: rgba(38,38,38,0.15);
				color: $oslo-gray;
				&:hover {
					background-color: rgba(38,38,38,0.15);
					color: $white;
				}
			}
		}
		&--round {
			border-radius: 2rem;
		}
		&--inline {
			display: inline-block;
			width: auto;
		}
		&--small {
			height: 3rem;
			line-height: 2.8rem;
			padding: 0 1.5rem;
		}

		}
	}
