.header {
	border-bottom: 1px solid $athens-gray;
	&__nav {
		&.header__nav {
			&--right {
				margin-left: auto;
			}
		}
	}
	&__top {
		background-color: $athens-gray;
		padding: 1rem 0;
	}
	&__main {
		padding: 2.5rem 0;
	}
	&__content {
		display: flex;
		align-items: center;
	}
	&__logo {
		margin-right: 4rem;
	}
	&__link {
		display: block;
		font-size: 1.2rem;
		line-height: 1.67;
		color: $silver-chalice;
		text-decoration: underline;
	}
	&__description {
			font-size: 1.2rem;
			line-height: 1.67;
			color: $silver-chalice;
	}
	&__search {
		margin-left: auto;
	}
	&__phones {
		display: flex;
		margin-right: 9rem;
		& > * {
			margin-right: 3rem;
			&:last-child {margin-right: 0}
		}
	}
	&__phone {
		display: block;
		font-size: 1.6rem;
		font-weight: 600;
		color: $tundora;
		white-space: nowrap;
	}
	&__shop {
		display: flex;
		margin-left: auto;
		justify-content: space-between;
		flex: 0 0 27rem;
		& > * {
			margin-right: 3rem;
			&:last-child {margin-right: 0}
		}

	}
	&-address {
		display: flex;
		flex: 0 0 19rem;
		&__icon {
			flex: 0 0 1.5rem;
			height: 2.1rem;
			width: 1.5rem;
			fill: $silver-chalice;
		}
		&__text {
			color: $tundora;
		}
		& > * {
			margin-right: 1.5rem;
			&:last-child {margin-right: 0}
		}

	}
	&-goods {
		&__price {
			display: block;
			font-size: 1.6rem;
			font-weight: 600;
			color: $tundora;
			white-space: nowrap;
		}
		&__count {
			font-size: 1.2rem;
			line-height: 1.67;
			color: $silver-chalice;
		}
	}
	&-basket {
		display: flex;
		align-items: center;
		padding: 0 2rem;
		height: 4rem;
		background-color: $wild-sand;
		border-radius: 2rem;
		cursor: pointer;
		& > * {
			margin-right: 1.5rem;
			&:last-child {margin-right: 0}
		}

	&__icon {
		@include size(2rem);
		fill: $blaze-orange;
	}

	&__text {
		color: $tundora;
	}
}
}
