.product-info
	.product-info__header
		h1.title-page Самокат Puky R 07 L AIR (с надувными колесами) розовый
		img(src='static/images/content/brands/puky.jpg' alt="Логотип бренда").product-info__logo
	.product-info__body
		.product-info__row
			.product-rating
				.product-rating__stars
					+icon('star','product-rating__icon product-rating__icon--active')
					+icon('star','product-rating__icon product-rating__icon--active')
					+icon('star','product-rating__icon product-rating__icon--active')
					+icon('star','product-rating__icon product-rating__icon--active')
					+icon('star','product-rating__icon')
				span.product-rating__count 3 отзыва
			.product-info__code
				span.product__text Артикул: <b>5406</b>
		.product-info__row
			.product-color
				span.product__text Выберите цвет
				ul.color-list
					each color in ['247BA0', '70C1B3', 'B2DBBF', 'F3FFBD']
						li.color-list__item(style=`background-color:#${color}`)

			.product-available
				span.product__text Наличие:
				.product-available-view
					each i in [1,2,3,4,5]
						.product-available-view__item
		.product-info__row
			.product-price
				span.product-price__old 16 250 руб.
				span.product-price__current 16 250 руб.
				a(href="").product-info__link Нашли дешевле?
			.product-actions
				button.btn.btn--big.btn--bg-orange Купить
				button.btn.btn--big.btn--contour-gray Купить в 1 клик

	.product-info__footer
		.product-info-advantages
			.product-info-advantage
				.product-info-advantage__header
					+icon('payment','product-info-advantage__icon')
					span.product-info-advantage__title Оплата
				.product-info-advantage__body
					ul.product-list.product-list--advantage
						each item in ['Наличные','Электорнные деньги','Сбербанк','Безналичная оплата']
							li.product-list__item=item
			.product-info-advantage
				.product-info-advantage__header
					+icon('payment','product-info-advantage__icon')
					span.product-info-advantage__title Доставка
				.product-info-advantage__body
					ul.product-list.product-list--advantage
						p.product__text По Москве сегодня курьером — <b>200 руб.</b>
						p.product__text самовывоз с нашего магазина — <b>бесплатано</b>
