.product-slider
	.product-slider-dots
		.product-slider-dots__btn.product-slider-dots__btn--prev
			+icon('chevron-up', 'product-slider-dots__btn-icon')
		.js-product-slider-dots
			.product-slider-dots__item
				img(src="static/images/content/products/5.jpg", alt="product image").product-slider-dots__img
			.product-slider-dots__item
				img(src="static/images/content/products/6.jpg", alt="product image").product-slider-dots__img
			.product-slider-dots__item
		.product-slider-dots__btn.product-slider-dots__btn--next
			+icon('chevron-down', 'product-slider-dots__btn-icon')

	.js-product-slider
		.product-slider__img-wrapper
			img(src="static/images/content/products/5.jpg", alt="product image").product-slider__img
		.product-slider__img-wrapper
			img(src="static/images/content/products/6.jpg", alt="product image").product-slider__img
