.s-banner {padding-bottom: 0;}
.banner {
	position: relative;
	height: 30rem;
	padding: 0 9rem;
	background-image: linear-gradient(255deg, #ffb800, #ff6d00);
	border-radius: 0.4rem;

	&__navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		margin-top: -2.5rem;
		@include size(5rem);
		background-color: rgba($white, .2);
		border-radius: 50%;
		cursor: pointer;
		transition: all linear .3s;
		&-icon {
			height: 1.7rem;
			width: 1rem;
			fill: rgba(black, .5);
		}
		&.banner__navigation {
			&--prev {
				left: 3rem;
			}
			&--next {
				right: 3rem;
			}
		}
		&:hover {
			background-color: rgba($white, .5);
			.banner__navigation-icon {
				fill: rgba(black, .8);
				transition: all linear .3s;
			}
		}
	}
	&__item {
		outline: none;
	}
	&__content {
		display: flex;
		padding: 3rem 0;

	}
	&__body {
		flex-direction: column;
		flex: 1;
		color: $white;
	}
	&__title {
		display: block;
		margin-bottom: 1.5rem;
		font-size: 5rem;
		line-height: 1;
		font-weight: 700;
	}
	&__descr {
		display: block;
		margin-bottom: 4rem;
		font-size: 1.8rem;
		line-height: 1.67;
	}
	&__img {
		max-width: 100%;
		max-height: 24rem;
		&-wrapper {
			flex: 0 0 40%;
			width: 40%;
			text-align: center;
		}
	}
	&__dot {
		display: block;
		@include size(0.8rem);
		border-radius: 50%;
		background-color: rgba(38,38,38, .3);
		cursor: pointer;
	}
	&__dots {
		position: absolute;
		left: 50%;
		bottom: 2rem;
		transform: translateX(-50%);
		z-index: 2;
		.slick-dots {
			display: flex;
			align-items: center;
			li {
				margin-right: 1rem;
				&:last-child {
					margin-right: 0;
				}
				&.slick-active {
					.banner__dot {
						background-color: #fff;
					}
				}
			}
		}
	}
}
