.catalog-nav {
	&__list {
		position: relative;
		background-color: $white;
		.catalog-nav__list {
			display: none;
			position: absolute;
			top: 0;
			left: 36rem;
		}
	}
	&__item {
		width: 36rem;
		@media screen and (max-width: $tablet-size) {
			width: auto;
		}
		&:hover {
			& > .catalog-nav__link {
				background-color: $athens-gray;
				color: $blaze-orange;
			}
			.catalog-nav__icon {
				fill: $blaze-orange;
				}
			.catalog-nav__list {
				display: block;
			}
		}
	}
	&__link {
		display: flex;
		align-items: center;
		padding: 1rem;
		line-height: 2rem;
		color: $main-shaft;
	}
	&__icon {
		@include size (1.2rem);
		margin-left: auto;
		fill: $silver;
	}
}
