.header-nav {
	&__list {
		display: flex;
		align-items: center;

	}

	&__item {
		margin-right: 3rem;

		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		font-size: 1.2rem;
		line-height: 1.67;
		color: $tundora;
	}
}
