.inform-nav {
	background-color: $athens-gray;
	&.inform-nav--col {
		padding: 1.5rem 0;
		.inform-nav {
			&__list {
				align-items: flex-start;
				flex-direction: column;
			}
			&__item {
				margin-right: 0;
				margin-bottom: 1rem;
				&:last-child{margin-bottom: 0;}
			}
			&__link {
				padding: 0 1.5rem;
			}
		}
	}
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		margin-right: 3rem;
		&:last-child {margin-right: 0;}
		&.inform-nav__tablet-hide {
			@media screen and (max-width: $tablet-size) {
				display: none;
			}
		}
	}
	&__link {
		font-size: 1.2rem;
		line-height: 1.67;
		color: $tundora;
	}
	&__tablet {
		&-toggle {
			display: none;
			position: relative;
			cursor: pointer;
			@media screen and (max-width: $tablet-size) {
				display: block;
			}
			&.inform-subnav--open {
				.inform-subnav {
					@media screen and (max-width: $tablet-size) {
						display: block;
					}
				}
			}
		}
		&-icon {
			@include size(2rem);
			fill: $blaze-orange;
		}
	}
}

.inform-subnav {
	display: none;
	position: absolute;
	left: -30px;
	top: 30px;
	padding: 2rem 0;
	min-width: 20rem;
	z-index: 6;
	background-color: $white;
	box-shadow: 0 5px 15px 0 rgba(38, 38, 38, 0.4), inset 0 -1px 0 0 #eef2f4;
	&__link {
		color: $tundora;
		font-size: 1.2rem;
		line-height: 30px;
		padding: 0 2rem;
	}
	&__arrow {
		position: absolute;
		top: -20px;
		left: 30px;
		@include size (2rem);
		z-index: 1;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			left: 50%;
			bottom: -10px;
			@include size (1.6rem);
			transform: translateX(-50%) rotate (45deg);
			box-shadow: 0 0 14px -2px rgba(38, 38, 38, 0.4);
			background-color: $white;
		}
	}

}
