.inform-nav {
	background-color: $athens-gray;
	&.inform-nav--col {
		padding: 1.5rem 0;
		.inform-nav {
			&__list {
				align-items: flex-start;
				flex-direction: column;
			}
			&__item {
				margin-right: 0;
				margin-bottom: 1rem;
				&:last-child{margin-bottom: 0;}
			}
			&__link {
				padding: 0 1.5rem;
			}
		}
	}
	&__list {
		display: flex;
		align-items: center;

	}
	&__item {
		margin-right: 3rem;
		&:last-child {margin-right: 0;}
	}
	&__link {
		font-size: 1.2rem;
		line-height: 1.67;
		color: $tundora;
	}
}
