
.main-nav {
	&__list {
		display: flex;
		align-items: center;
		position: relative;
	}
	&__item {
		margin-right: 4rem;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			.main-nav {
				&__link {
					border-bottom-color: $blaze-orange;
				}
				&__dropdown-wrapper {display: block;}
			}
	}
	}
	&__link {
		display: flex;
		align-items: center;
		padding: 1.5rem 0;
		font-size: 1.6rem;
		color: $tundora;
		line-height: 1.88;
		font-weight: 600;
		border-bottom: 2px solid transparent;

	}
	&__dropdown {
		display: inline-flex;
		left: 0;
		padding-top: 1rem;
		background-color: $white;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
		&-wrapper {
			display: none;
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			z-index: 5;
		}
	}
	&__icon {
		@include size(1.2rem);
		fill: $tundora;
		margin-left: 1rem;
	}
}
