.mobile-user-nav {
	display: none;
	margin-left: auto;
	@media screen and (max-width: $phone-size) {
		display: block;
	}
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		margin-right: 1rem;
		&:last-child{margin-right: 0;}
		@media screen and (max-width: $phone-size) {
			margin-right: 0;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		@include size(4rem);
	}
	&__icon {
		@include size(2rem);
		fill: $blaze-orange;
	}
}
