.mobile-menu {
	&.mobile-menu--open {
		.mobile-menu {
			&__content {
				display: block;
				@media screen and (max-width: $phone-size) {
					left: 0;
				}
			}
		}
	}
	&__toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $blaze-orange;
		color: $white;
		height: 5rem;
		cursor: pointer;
		& > * {
			margin-right: 2rem;
			@media screen and (max-width: $phone-size) {
				margin-right: 0;
			}
			&:last-child{margin-right: 0;}
		}
		@media screen and (max-width: $phone-size) {
			background-color: $white;
			margin-right: 1.5rem;
			@include size(5rem);
			border-right: 1px solid rgba(75,75,75, 0.2);
			.sandwich {
				&__line {
					background-color: $tundora;
				}
			}
			.mobile-menu {
				&__title {
					@media screen and (max-width: $phone-size) {
						display: none;
					}
				}
			}
		}
	}
	&__title {
		font-size: 1.6rem;
		font-weight: 600;
	}
	&__content {
		position: absolute;
		display: none;
		left: 15px;
		top: 0;
		right: 15px;
		transition: all linear .5s;
		box-shadow: 0 5px 30px 0 rgba(75, 75, 75, 0.5);
		z-index: 5;
		@media screen and (max-width: $phone-size) {
			display: block;
			position: fixed;
			left: -100%;
			right: auto;
			bottom: 0;
			width: 100%;
			overflow: auto;
			box-shadow: none;
		}
	}
	&__header {
		display: flex;
		align-items: center;
		height: 5rem;
		padding-left: 1.5rem;
		color: $white;
		background-color: $blaze-orange;
	}
	&__close {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		cursor: pointer;
		border-left: 1px solid rgba(0,0,0,0.05);
		@include size(5rem);
		&-icon {
			@include size(2rem);
			fill: $white;
		}
	}
	&__footer {
		display: flex;
		align-items: center;
		background-color: $alto;
		padding: 1rem 1.5rem;
		& > * {
			margin-right: 2rem;
			&:last-child{margin-right: 0;}
		}
	}
	&__phone {
		display: flex;
		flex-direction: column;

		&-number {
			color: $main-shaft;
			margin-bottom: 5px;
		}
		&-link {
			color: $dusty-gray;
			font-size: 1.2rem;
			text-decoration: underline;
		}
		&-text {
			font-size: 1rem;
			color: $dusty-gray;
		}
	}
}
