.mobile-nav {
	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $blaze-orange;
		color: $white;
		height: 5rem;
		cursor: pointer;
		& > * {
			margin-right: 2rem;
			&:last-child{margin-right: 0;}
		}
	}
	&__title {
		font-size: 1.6rem;
		font-weight: 600;
	}

}
