.product-prev
	.product-prev__header
		.js-product-prev__slider
			.product-prev__img-wrapper(data-color="#FF69B4")
				img(src="static/images/content/products/1-pink.jpg", alt="product image").product-prev__img
			.product-prev__img-wrapper(data-color="#FF0000")
				img(src="static/images/content/products/1-red.jpg", alt="product image").product-prev__img
			.product-prev__img-wrapper(data-color="#FFFF00")
				img(src="static/images/content/products/1-yellow.jpg", alt="product image").product-prev__img

	.product-prev__body
		.product-prev__info
			span.product-prev__title Самокат Globber Ultimum синий
			span.product-prev__country Франция
		.product-prev__price
			span.product-prev__price-current 10 900 руб.
		.product-prev__colors
	.product-prev__footer
		button.btn В корзину
