section.s-content
	.container
		.content-block
			p.text-attention Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Она рукопись вопрос ты. Пояс выйти, лучше живет то, ему все страну, решила текста маленький снова коварных. Ему прямо бросил переписывается, правилами букв ipsum заглавных, моей текстами несколько текста эта!
			p.text Интернет-магазин Baby-Toys.ru предлагает купить детские беговелы по цене от ⭐ 3 900 руб до ⭐ 20 500 руб.
			p.text Вариантов в наличии — <b>138</b> шт.
			p.text Шаговел – это детский велосипед без педалей. Передвигаться на нём можно, отталкиваясь ногами. Это прекрасный вариант для развития ребёнка, который позволит ему укрепить мышцы ног, научиться удерживать равновесие и маневрировать.
			h3.title-block Велобег оснащён:
			ul
				li прочной металлической рамой;
				li велосипедными колёсами;
				li мягкими нескользящими ручками;
				li удобными сиденьем.
			p.text Беговелы рассчитаны на детей в возрасте от 2 до 5 лет.
