.filter__body
	.filter__block
		span.filter__title Подкатегории
		ul.filter-list
			each link in ['Беговелы 2 в 1', 'Беговелы-каталки', 'Беговелы-самокаты', 'Спортивные']
				li.filter-list__item
					a(href="").filter-list__link=link

	.filter__block
		span.filter__title Подбор парамметров
		each filter in ['Пол','Произвоитель', 'Вес,кг','Дополнительные свойства', 'Возраст', 'Особенности', 'Количество колес']
			.filter__row
				.select
					.select__header
						span.select__current=filter
						+icon('chevron-down', 'select__icon')
					.select__body
						ul.select-list
							li.select-list__item Мужской
							li.select-list__item Женский
		.filter__row
			.filter-color
				span.filter__label Цвет
				ul.filter-color__list
					each color in ['247BA0', '70C1B3', 'B2DBBF', 'F3FFBD', 'FF1654', '011627', 'ffffff', '2EC4B6', 'E71D36', 'FF9F1C', 'E63946', 'F1FAEE', 'A8DADC', '457B9D']
						if(color === "ffffff")
							li.filter-color__item.filter-color__item--white(style=`background-color:#${color}`)
						else
							li.filter-color__item(style=`background-color:#${color}`)

		.filter__buttons
			button.btn.btn--contour-gray Сброс
			button.btn.btn--bg-orange Подбор
